@import 'variables.scss';

body {
  margin: 0;
  position: relative;
  background-color: white;
  color: black;
  font-family: 'Arial', sans-serif;
  min-width: 820px;
  font-size: 13px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  * {
    box-sizing: border-box;
  }

  h1, h2, h3, h4, h5, h6 {
    margin: 0;
    padding: 0;
  }
}